<app-nav1></app-nav1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id.no</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Sub-total</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let i of data;">
      <ng-container *ngIf="i.cnt>0">
        <td>{{i.id}}</td>
        <td>{{i.title}}</td>
        <td>{{i.price}}</td>
        <td>{{i.cnt}}</td>
        <td id="bill">{{i.price*i.cnt}}</td>
      </ng-container>
    </tr>
  </tbody>
</table>

<p id="b">Total : $ {{total}}</p>
<button class="btn btn-custom" routerLink="/products">
  Back
</button>