<app-nav1></app-nav1>
   <body class="container-fluid">
    <form class="form-sjf"  [formGroup]="vall" autocomplete="off">
        <div class="form-row">
            <div class="col-lg-7">
                <strong><label for="">Name</label></strong>
                <input required id="name" class="form-control input-sm" type="text" placeholder="Name"formControlName="v1" />
            </div>
        </div><br>
        <div class="form-row">
            <div class="col-lg-7">
                <strong><label for="">Email</label></strong>
                <input required id="email"class="form-control input-sm"type="text" placeholder="Email" formControlName = "v2"/>
            </div>
        </div>
            <br>
            <div class="form-row">
                <div class="col-lg-7">
                    <strong><label for="">Phone Number</label></strong>
                <input id="phoneno" class="form-control input-sm"type="text" placeholder="Phone no" required minlength="10"   maxlength="10" formControlName = "v3">
                </div>
            </div>
            <br>
           <div class="form-row">
            <div class="col-lg-7">
                <select [(ngModel)]="testsel" [ngModelOptions]="{standalone: true}"  (ngModelChange)="ontestsel($event)" value="Select" placeholder="Select">
                    <option *ngFor="let t of test" [value]="t.Id">
                        {{t.Test}}
                    </option>
                  </select>
            </div>
           </div>
            <div class="form-row" class="text-center">
                <div class="col-lg-7">
                    <button type="button"class="btn btn-custom" routerLink="/booktesdis"(click)="fnc1()"> Submit </button>
                </div>
            </div><br>
 <!-- </form> -->