.title{
    text-align: center;
 }
 body{
     margin:0;
     padding-bottom:10em;
     background-image: linear-gradient(to bottom right, #FDEEDC ,#F1A661 );
 }
 .img-fluid
 {
    border:1px;
    border-top-color: aqua;
     
 }
 .custom-btn{
     align-content:center;
 }
 

 .form-control{
    background-color: #FDEEDC;
 }
 .container-fluid{
    padding-top:7em;
    padding-left:20em;
 }
 .btn-custom{
    background-color: #F1A661;
    color:black;
}
